.title {
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.container {
  background-color: var(--primary);
  padding: 4rem 0;
  position: relative;
}
.containerDetail {
  background-color: white;
  padding: 4rem 0;
  position: relative;
}

/* shape divider 1*/

.custom-shape-divider-top-1647591263 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1647591263 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1647591263 .shape-fill {
  fill: white;
}

/* shape divider 2 */

.custom-shape-divider-bottom-1648543190 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648543190 svg {
  position: relative;
  display: block;
  width: calc(161% + 1.3px);
  height: 92px;
}

.custom-shape-divider-bottom-1648543190 .shape-fill {
  fill: #ffffff;
}

.linkTitle {
  text-align: center;
  margin-bottom: 0.5rem;
}
.detailTitle {
  text-align: center;
  margin: 1rem 0;
}

.detailTitle ~ div {
  margin-top: 0;
}

.container > h3 {
  text-align: center;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listItem {
  padding: 0.5rem;
  transition: 0.5s;
}

.listItem:hover {
  opacity: 0.5;
}

.itemImg {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(32, 31, 31, 0.2);
}
.detailDescription {
  margin-top: 1rem;
  text-align: left;
  color: var(--primary);
}
.detailText {
  color: initial;
}

.iconContainer {
  font-size: 5rem;
}

@media screen and (min-width: 620px) {
  .listItem {
    width: 100%;
  }
}
/* large tablet & small laptop styles */

@media screen and (min-width: 960px) {
  /* .listItem {
    width: 33.3%;
  } */
  .listContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .listItem {
    width: 100%;
  }
}
/* desktop styles */

@media screen and (min-width: 1200px) {
}
