.linkTitle {
  text-align: center;
  margin-bottom: 0.5rem;
  opacity: 0.5;
}

.title {
  margin-bottom: 0.5rem;
}

.container > h3 {
  text-align: center;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listItem {
  width: 100%;
  padding: 0.5rem;
}

.itemImg {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
.detailDescription {
  margin-top: 1rem;
}

@media screen and (min-width: 620px) {
  .listItem {
    width: 50%;
  }
}
/* large tablet & small laptop styles */

@media screen and (min-width: 960px) {
  .listItem {
    width: 33.3%;
  }
}
/* desktop styles */

@media screen and (min-width: 1200px) {
}
