.title {
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.linkTitle {
  text-align: center;
  margin-bottom: 0.5rem;
  opacity: 0.5;
}
.detailTitle {
  text-align: center;
  margin: 1rem 0;
}

.detailTitle ~ div {
  margin-top: 0;
}

.container > h3 {
  text-align: center;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listItem {
  padding: 0.5rem;
  transition: 0.5s;
}

.listItem:hover {
  opacity: 0.5;
}

.itemImg {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(32, 31, 31, 0.2);
}
.detailDescription {
  margin-top: 1rem;
  text-align: left;
}

@media screen and (min-width: 620px) {
  .listItem {
    width: 50%;
  }
}
/* large tablet & small laptop styles */

@media screen and (min-width: 960px) {
  /* .listItem {
    width: 33.3%;
  } */
  .listContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .listItem {
    width: 100%;
  }
}
/* desktop styles */

@media screen and (min-width: 1200px) {
}
