.container {
  background-color: white;
}
.title {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.containerIcons {
  /* width: 50%; */
  display: flex;
  align-self: center;
  justify-content: space-around;
  /* flex-direction: column; */
}
.containerIcon {
  display: flex;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  transition: 0.5s ease;
}
.containerIcon:hover {
  transform: scale(1.2);
}
.icon {
  font-size: 1.5rem;
}
