.container {
  margin: 1rem 0;
}

.title {
  text-align: center;
  margin: 1rem 0;
}
.containerIcons {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.containerIcon {
  display: flex;
  margin-top: 0.5rem;
}
.containerIcon:hover {
}
.icon {
  font-size: 1.5rem;
}
