/* mobile styles */

.header {
  background-color: var(--primary);
  /* background-image: linear-gradient(45deg, var(--primary), #8cc5c1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  margin-bottom: 1rem;
}

.divItem {
  padding: 1rem;
  font-weight: 700;
}

/* small tablet styles */

@media screen and (min-width: 620px) {
}
/* large tablet & small laptop styles */

@media screen and (min-width: 960px) {
  .divItem {
    /* padding: 1rem; */
  }
}
/* desktop styles */

@media screen and (min-width: 1200px) {
}
