.link {
  margin: 0 auto;
  text-align: center;
  background-color: var(--tertiary-color-bg);
  color: var(--tertiaty-color-font);
  border: 1px solid var(--secondary-color-bg);
  border-radius: 10px;
  line-height: 1.2em;
  width: 200px !important;
  padding: 0.5rem;
  margin-top: 1rem;
  transition: 0.5s ease;
}

.link:hover {
  background-color: var(--primary-color-bg);
  color: var(--primary-color-font);
  transform: scale(1.1);
}

@media screen and (min-width: 620px) {
  .link {
    width: 70%;
  }
}
/* large tablet & small laptop styles */

@media screen and (min-width: 960px) {
  .link {
    width: 70%;
  }
}
/* desktop styles */

@media screen and (min-width: 1200px) {
}
