.container {
  /* background-image: linear-gradient(90deg, var(--primary), #8cc5c1); */
  background-color: var(--primary);
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerCopyright {
  display: flex;
  align-items: center;
  margin: 0 0 0 0.5rem;
}
.containerIcons {
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0 0;
}
.icon {
  font-size: 1.5rem;
}
.copy {
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0;
}
