* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
}

:root {
  --primary: rgb(234, 226, 183);
  --secondary: rgb(0, 48, 73);
  --tertiary: rgb(247, 127, 0);
  --quarto: rgb(234, 226, 183);
}

/* RESET */
li {
  list-style-type: none;
}

img {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
