* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

/* #root {
  min-height: 100vh;
} */
html,
body,
#root {
  height: 100%;
}
/* html,
body {
  height: 100%;
} */

:root {
  --primary-color-bg: #fff;
  --secondary-color-bg: #dc3545;
  --tertiary-color-bg: #000;
  --quarto-color-bg: #fff;

  --primary-color-font: #000;
  --secondary-color-font: #fff;
  --tertiaty-color-font: #fff;
  --quarto-color-font: #000;
}

/* RESET */
li {
  list-style-type: none;
}
a {
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;

  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Montserrat",
    "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
