.container {
  /* background-color: white; */
  padding: 3rem 0;
  position: relative;
  /* background-color: var(--primary); */
}

/* Divider stack list*/

.custom-shape-divider-top-1647591263 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1647591263 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1647591263 .shape-fill {
  fill: white;
}

/* Divider stack detail*/

.custom-shape-divider-bottom-1647593320 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647593320 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1647593320 .shape-fill {
  fill: #ffffff;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.detailTitle {
  text-align: center;
  padding: 1rem;
}

.detailTitle ~ div {
  margin-top: 0;
}

.gridList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.listItem {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: rgba(38, 70, 83, 0.568); */
  padding: 1rem;
  margin-bottom: 0.5rem;
  /* line-height: 15px; */
  border-radius: 10px;
  /* box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.233); */
  /* box-shadow: 1px 2px rgba(66, 65, 65, 0.328); */
}

.listItem > p {
  line-height: 30px;
  margin-left: 0.5rem;
  font-weight: bold;
}

.icon {
  font-size: 1.8em;
}

.textContainer {
  /* background-color: aliceblue; */
  margin-top: 1rem;
  text-align: start;
  padding: 1rem;
}
.textContainer li {
  list-style-type: disc;
}
.textContainer ul {
  padding: 1rem;
}
.iconContainer {
  font-size: 5rem;
}

@media screen and (min-width: 620px) {
  .icon {
    font-size: 2.5em;
  }
  .listItem {
    align-items: center;
  }
}
/* large tablet & small laptop styles */

@media screen and (min-width: 960px) {
  .gridList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/* desktop styles */

@media screen and (min-width: 1200px) {
  .icon {
    font-size: 3em;
  }
}
