.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-6);
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--space-8);
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 var(--space-12);
  }
}
